.section-temporada{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    padding: 20px;           
}
.card-temporada{
    text-align: center;
    background-color: rgb(131, 132, 133);
    width: 30%;
}

.card-temporada-img{
    width: 397px;
    height: 469px;
}