.catalogo {
  display: flex;
  flex-direction: column; /* móviles: columnas */
  align-items: center;    /* centra horizontalmente las cards */
  gap: 20px;              /* espacio entre cards */
  margin-top: 80px;
  width: 100%;
  padding: 0 10px;
}

/* Tablets y desktop */
@media (min-width: 768px) {
  .catalogo {
    flex-direction: row;     /* filas */
    flex-wrap: wrap;         /* que se envuelvan si no caben */
    justify-content: center; /* centra horizontalmente las filas */
    gap: 20px;               /* espacio entre cards */
    width: 100%;
    margin-top: 80px;
  }
}

@media (min-width: 1024px) {
  .catalogo {
    gap: 30px;               /* más espacio entre cards en desktop */
    padding: 0 40px;
  }
}