.inicio{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 80px;
}
.section-top{
  background-color: white;
}

.section-top  h2{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.section-descuento {
    position: relative;
    display: inline-block;
  }
  
  .img-descuento {
    width: 80vw;
    display: block;
  }
  
  .descuento-contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  .contenido-centro h2 {
    margin-bottom: 10px;
  }
  
  .descuento-contenido button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    height: 48px;
    width: 100px;
    background-color: white;
    color: black;
    border-radius: 20px;
  }

.section-descuento img{
  width: 100%;
  height: 300px;     /* agrandás la altura */
  object-fit: cover; /* mantiene calidad y no se deforma */
}

/* Tablet (mínimo 768px) */
@media (min-width: 768px) {
  .inicio{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 80px;

  }
  .section-top{
    background-color: white;
  }

  .section-top  h2{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }

  .section-descuento {
      position: relative;
      display: inline-block;
    }
    
    .img-descuento {
      width: 100vw;
      height: 100vh;
      display: block;
    }
    
    .descuento-contenido {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: rgb(0, 0, 0);
    }

    
    .contenido-centro h3 {
      margin-bottom: 20px;
    }
    
    .descuento-contenido button {
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      height: 60px;
      width: 100px;
      background-color: white;
      color: black;
      border-radius: 20px;
    }

  .section-descuento img{
    width: 100%;
    height: 300px;     /* agrandás la altura */
    object-fit: cover; /* mantiene calidad y no se deforma */
  }
}

/*Desktop (mínimo 1024px) */
@media (min-width: 1024px) {
  .inicio{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 80px;
  }
}