
.div-login{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  
  .div-login form{
    background-color: #F7F6F0;
    width: 80vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
  }
  .div-login label{
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .div-login input{
    width: 60vw;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.6rem;
    font-size: 1rem;
  }
  
  .div-login button{
    width: 40vw;
    margin-top: 1rem;
    background-color: white;
    color: black;
  }
    