.div-pagar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CardPagar{
    background-color: #265c0d;
    color: white;
    width: 50vw;
    height: 30vh;
    text-align: center;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
.logo-pagar{
    color: rgb(255, 255, 255);
    width: 100%;
    height: 5vh;

}

.pagar-volver{
    font-size: large;
    font-size: 20px;
    text-decoration:wavy;
    font-weight: bolder;
}